:root {
  --header-height: 5vh;
  --header-width: 100vw;

  --navigation-height: 4vh;

  --body-height: 91vh;
  --body-width: 100vw;
  --body-margin: 0%;
  --body-padding: 1% 0% 2% 0%; /*top, rigth, bottom, left */

  --list-nodes-padding: 0% var(--padding-between-items) 0%
    var(--padding-between-items);

  --list-nodes-header-height: 10%;
  --list-nodes-body-height: 90%;
  --list-nodes-body-padding: 0% 0% 0% 0%;

  --padding-between-items: 1rem;
  --list-nodes-item-height: 3rem;
}

.dynamic-text-field {
  padding: 0;
  border: 0;
  text-align: center;
  text-wrap: pretty;
  text-overflow: ellipsis;
  flex-wrap: nowrap;
}

.sidebar {
  left: 0px;
  z-index: 2;
  /* top: 0px; */
  width: 100%;
  position: relative;
  overflow-y: auto;
  height: 80vh;
}

/* #region Edges */

.react-flow__edge-path {
  stroke-width: 2 !important;
}

.react-flow__edge-path.eventNode {
  stroke-dasharray: 5, 5;
}

/* #endregion */

.breadcrumb-align {
  /* 
  height: 100%; */
  font-size: x-large;
  text-align: center;
  padding-left: calc(var(--padding-between-items) * 2) !important;
}

.fill-height {
  height: calc(100vh - 114px);
}

.level-selection {
  padding-top: var(--bs-card-spacer-y);
  display: grid;
  margin-left: 15%;
  margin-right: 15%;

  background-color: aliceblue !important;
}

.level-selection-menu {
  width: 100%;
}

.level-selection-menu-item {
  text-align: center;
}
