@import "bootstrap/dist/css/bootstrap.min.css";

.App {
  text-align: center;
  height: 100vh;
  padding: 8px 16px;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.story-title {
  font-size: xx-large;
  font-weight: 500;
  text-align: center;
}

.scene-node {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #f2f2f5; /* corrisponde a theme.nodeBg */
  color: #222; /* corrisponde a theme.nodeColor */
  border: 1px solid #222; /* corrisponde a theme.nodeBorder */
}
.scene-node-name {
  text-align: center;
  font-weight: 500;
}

.scene-node-title {
  text-align: center;
  font-style: italic;
}

.dynamic-text-field {
  padding: 0;
  border: 0;
  text-align: center;
  text-wrap: pretty;
  text-overflow: ellipsis;
  flex-wrap: nowrap;
}

.prompt-area {
  .character-mention {
    background: #ffecd7;
    color: #b05e00;
  }
  .character-mention.selected {
    background: #b05e00;
    color: #ffecd7;
  }
  
  .object-mention {
    background: #e1f7ff;
    color: #003468;
  }
  .object-mention.selected {
    background: #003468;
    color: #e1f7ff;
  }
  
  .location-mention {
    background: #dcffdc;
    color: #004e03;
  }
  .location-mention.selected {
    background: #004e03;
    color: #dcffdc;
  }
  
  .no-mention {
    background: #eee;
    color: #000;
  }
}

.scene-node.selected {
  border-color: #ff0072; /* corrisponde a theme.primary */
}

.handleDiv:hover .handle {
  opacity: 1;
}

.handle:show {
  opacity: 1;
}

.handle {
  opacity: 0;
}

.fill-height {
  height: calc(100vh - 114px);
}
